<header class="p-2 border-0 flex justify-between
    h-[40px] items-center bg-sky-50
    border-b border-solid border-b-gray-300">
  <div class="flex gap-2 items-center">
    <mat-icon class="text-sky-500 !text-4xl"
              fontIcon="task_alt" [inline]="true"/>
    <h1 class="!text-2xl !m-0 select-none">To-do List App</h1>
  </div>
  <div [class.outline]="isMenuVisible"
    (click)="$event.stopPropagation(); isMenuVisible = !isMenuVisible"
       #profilePic class="rounded-full w-[38px] h-[38px]
    bg-contain cursor-pointer hover:outline outline-gray-300
   border border-gray-300 border-solid"></div>
</header>
<div *ngIf="isMenuVisible" (click)="$event.stopPropagation()"
     class="flex flex-col items-center border-t-0 min-w-[150px]
fixed right-0 border border-solid gap-2 pb-2 mr-1 shadow-lg
border-gray-300 rounded-b">
  <div class="text-center border-0 border-b
  border-solid border-gray-300 p-2 px-8">
  <div class="font-medium">Hi, {{ authService.getPrincipal()?.displayName }}!</div>
  <div>{{ authService.getPrincipal()?.email }}</div>
  </div>
  <button mat-stroked-button (click)="authService.signOut()">Sign Out</button>
</div>

