<main class="vh-100 d-flex
 justify-content-center align-items-center">
  <section class="text-center border p-3 rounded">
    <h2 class="mb-4">App Login</h2>
    <div class="mb-3">
      <label for="txt-username" class="form-label">Username</label>
      <input class="form-control text-center" type="text"
             placeholder="Enter your username here"
             id="txt-username">
    </div>
    <div class="mb-3">
      <label for="txt-password" class="form-label">Password</label>
      <input class="form-control text-center" type="password"
             placeholder="Enter your password here"
             id="txt-password">
    </div>
    <button class="btn btn-primary">Login</button>
  </section>
</main>
